:root {
    /* Существующая переменная высоты заголовка */
    --header-height: 80px;

    /* Цвета */
    --color-basic-1: #e74c3c;
    --color-basic-2: #3498db;
    --color-basic-3: #2ecc71;
    --color-basic-4: #f39c12;
    --color-basic-5: #34495e;
    --color-basic-6: #e67e22;
    
    /* Новый цвет для маски с прозрачностью */
    --color-basic-1_special-2: rgba(231, 76, 60, 0.7);
    --color-basic-1_special-2: rgba(231, 76, 60, 0.7);
    --color-basic-3_special-1: rgba(46, 204, 113, 0.5);
    
    /* ----------Адаптивный размер текста----------------- */
    --page-width: 100vw;
    --page-width-default-px: 1920px;
    --page-width-default: 1920;

    --page-width-adaptive-px: 320px;
    --page-width-adaptive: 320;

    /* page min fs */
    --page-font-size-min-px: 7px;
    --page-font-size-min: 7;

    /* page default font-size */
    --page-font-size-default-px: 14px;
    --page-font-size-default: 14;

    /* page default font-size calculated: */
    --page-font-size-html: calc(
        var(--page-font-size-min-px) + (var(--page-font-size-default) - var(--page-font-size-min)) *
        ((var(--page-width) - var(--page-width-adaptive-px)) / (var(--page-width-default) - var(--page-width-adaptive)))
    );

    /* ------media-------- */
    @media screen and (max-width: 1280px) {
        :root {
            --header-height: 72px;
        }
    }
}